# filename: x509.config
[ req ]
prompt             = no
distinguished_name = DN

[ DN ]
# The bare minimum is probably a commonName
            commonName = centos8ops.example.com
           countryName = TW
      organizationName = EXAMPLE_COM
organizationalUnitName = Security Dept.
          emailAddress = user@example.com
                  name = admin user
               surname = admin
             givenName = user

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = clientAuth,serverAuth

[ alt_names ]
DNS.1 = centos8ops.example.com
DNS.2 = srv2.example.com
DNS.3 = srv3.example.com
DNS.4 = srv4.example.com

